<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>上传|大学生在线酷考平台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
  

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
  <link rel="stylesheet" href="css/style.css" id="theme-styles">

    <!--[if lt IE 9]>      
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
    
</head>
<body>
    <div id="myUpload">
        <header>
            <div class="widewrapper masthead">
                <!--这是头部-->
                <div class="container">
                    <!--logo-->
                    <a href="index.html" id="logo">
                        <img src="img/logo.png" alt="clean Blog">
                    </a>

                    <div id="mobile-nav-toggle" class="pull-right">
                        <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <!--导航-->
                    <nav class="pull-right clean-nav">
                        <div class="collapse navbar-collapse">
                            <ul class="nav nav-pills navbar-nav">

                                <li>
                                    <a href="login.html" v-show="ShowState.showLogin">Sign in</a>
                                </li>
                                <li>
                                    <a href="register.html" v-show="ShowState.showRegister">Sign up</a>
                                </li>
                                <li>
                                    <div href="#" v-show="ShowState.showUser" style="color: black">Credit</div>
                                </li>
                                <li>
                                    <div href="#" v-show="ShowState.showUser" style="color: black">{{UserInfo.School}}的{{UserInfo.Username}}同学你好!</div>
                                </li>
                            </ul>
                        </div>
                    </nav>

                </div>
            </div>

            <div class="widewrapper subheader">
                <div class="container">
                    <div class="clean-breadcrumb">
                        <a href="index.html" style="margin-right: 20px">主页</a>
                        <a href="upload.html" style="margin-right: 20px">上传</a>
                        <a href="manage.html" style="margin-right: 20px">账号管理</a>
                    </div>
                    <div class="clean-searchbox">
                        <form action="#" method="get" accept-charset="utf-8">

                            <input class="searchfield" id="searchbox" type="text" placeholder="Search">
                            <button class="searchbutton" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <div class="widewrapper main">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact">
                        <h2>文档上传</h2>
                        <small>目前支持格式doc、docx、xls、ppt、pptx、pdf</small>
                        <div class="contact-form">
                            <input type="file" name="file" id="contact-id" formenctype="multipart/form-data"  class="form-control input-lg">
                            <input type="text" name="Filename" id="contact-name" placeholder="文档标题" class="form-control input-lg" v-model="fileInfo.name">
                            <input type="text" name="Type" id="contact-email" placeholder="文档分类" class="form-control input-lg" v-model="fileInfo.type">
                            <textarea rows="10" name="About" id="contact-body" placeholder="文档简介" class="form-control input-lg" v-model="fileInfo.about"></textarea>
                            <div class="buttons clearfix">
                                <button type="submit" class="btn btn-xlarge btn-clean-one" v-on:click="uploadFile">上 传</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="widewrapper footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 footer-widget">
                            <h3> <i class="fa fa-user"></i>About</h3>

                            <p>大学生在线互动式文档分享平台，在这里，
                                您可以和千万网友分享自己手中的文档，
                                全文阅读其他用户的文档，同时，
                                也可以利用分享文档、下载文档。
                                大学生在线酷考平台的文档包括教学资料、考试题库、
                                专业资料、等多个学科的资料。
                                用户上传文档可以得到一定的积分，
                                下载文档则需要消耗积分。
                            </p>
                        </div>
                        <!--这里想加上最近的比较热门的文章-->
                        <div class="col-md-4 footer-widget">
                            <h3> <i class="fa fa-pencil"></i> Recent Upload</h3>
                            <ul class="clean-list">
                                <li><a href="">Lorem ipsum dolor</a></li>
                                <li><a href="">Lorem ipsum dolor</a></li>
                                <li><a href="">Lorem ipsum dolor</a></li>
                                <li><a href="">Lorem ipsum dolor</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4 footer-widget">
                            <h3> <i class="fa fa-envelope"></i>Contact Me</h3>

                            <p>联系方式</p>
                            <div class="footer-widget-icon">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-google"></i>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="widewrapper copyright">
                大学生在线酷考平台
            </div>
        </footer>
    </div>

    <script src="//cdn.bootcss.com/vue/2.3.3/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="js/upload.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.js"></script>

</body>
</html>